test/source/bugs/schema/no_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/no_type" targetNamespace="http://www.example.org/no_type">
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bar"/>
      </xs:sequence>
      <xs:attribute name="foo"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
