test/source/builtins/list/list.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:element name="ListTest">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="intvalues" type="valuelist" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

  <xs:simpleType name="valuelist">
      <xs:list itemType="xs:integer"/>
   </xs:simpleType>

</xs:schema>
